image: node:14
stages:
  - verify
  - build
  - staging


cache:
  paths:
    - node_modules

before_script:
  - yarn install

format:
  stage: verify
  script: yarn format
lint:
  stage: verify
  script: yarn lint

depcheck:
  stage: verify
  script: yarn depcheck


quality:
  cache: {}
  stage: verify
  tags:
    - threadripper
  before_script:
    - echo "Running Quality"
  image: docker:stable
  variables:
    DOCKER_DRIVER: overlay2
  services:
    - docker:stable-dind
  script:
    - docker run --env CODECLIMATE_CODE="$PWD" --volume "$PWD":/code --volume /var/run/docker.sock:/var/run/docker.sock --volume /tmp/cc:/tmp/cc codeclimate/codeclimate analyze -f json > quality.json
  artifacts:
    reports:
      codequality: quality.json


build:
  stage: build
  script:
    - yarn update-data
    - yarn build
  artifacts:
    paths:
      - build/
  only:
    - master

staging:
  stage: staging
  before_script:
    - rm -rf build/nonbuild
    - yarn global add surge
  script:
    - surge build/  docs.stage.sway-me.xyz
  dependencies:
    - build
  only:
    - master
